.header__wrapper {
width: 100vw;
height: 80px;
background-color: rgb(243, 231, 5);



}
.container__wrapper {
    width: 100%;
    padding: 0 30px;
    
}

.header {   
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px; 
      /* margin: 0 30px; */ 
     padding-top: 20px;
    
     
}
.container {
    overflow: hidden;
    position: relative;
}
.logo {
    font-size: 1.5em;
    position: relative;
    top: -10px;
   
}

.search {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #222;
}
.search:focus {
    border-bottom-color: #fff;
}
.menu {
    display: flex;
    gap: 1em;
    
}
.badge-link {
    position: relative;
}
.badge {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 18px;
    height: 18px;
    font-size: 10px;
    position: absolute;
    bottom: -10px;
    right: -8px;
}
