 .footer__wrapper {
   width: 100%;
   background-color: rgb(243, 231, 5);
   height: 100px;
     position: fixed;
     bottom: 0;
     /* overflow: hidden; */
   
   
    
 }
 .container__wrapper {
     padding: 0 30px;
     /* background-color: #222; */
     

 }
 
 
 .footer {
   background-color: rgb(243, 231, 5);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100vw; */
 }
 .footer_copy {
    font-size: 1.5em;
    color: black;
 }
 .footer_text {
    text-align: right;
    color: black;
    
 }
 .iconsWrapper {
   display: flex;
   justify-content: flex-end;
   gap: 10px;
 }
 .iconsSize {
  


 }